@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

@import "tailwindcss";

@theme {
    --font-yusei:  "Yusei Magic", sans-serif
}

.thin-scroll::-webkit-scrollbar {
  width: 6px;
}

.thin-scroll::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.25); /* cor discreta */
  border-radius: 4px;
}

.thin-scroll::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
.thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.25) transparent;
}
